main {
  width: 100%;
  height: 100%;
  padding: 1rem;

  h1 {
    text-align: left;
    @include headings-style;
  }

  b {
    color: $header-color;
    font-style: italic;
  }

  // Home component
  .main-home {
    display: flex;
    flex-direction: column;

    &-text {
      width: 50%;
      text-align: left;
      line-height: 1.3;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1rem;
      color: darken($primary-light-theme, 30%);
    }

    &-picture img {
      position: absolute;
      bottom: 2rem;
      width: 50%;
      z-index: 2;
    }
  }

  // List of Dreams
  .all-dreams {
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: darken($secondery-light-theme, 40%);

    a {
      text-decoration: none;
      color: $header-color;
    }

    .dream {
      padding: 0.8rem;
      margin: 0.5rem;
      border-left: 3px solid $header-color;
    }
  }

  .dream-details {
    border-radius: 10px;
    background-color: rgba($primary-light-theme, $alpha: 0.3);
    width: 60%;
    color: darken($primary-light-theme, 30%);
    padding: 1rem;
    margin-bottom: 1rem;

    h1 {
      text-align: center;
      font-size: 2rem;
      text-shadow: none;
    }

    h3 {
      color: $primary-light-theme;
    }

    &-buttons {
      padding: .6rem;

      button {
        margin-right: 0.2rem;
        padding: 0.3rem;
        border-radius: 10px;
        border: 2px solid $header-color;
        color: $header-color;

        button:hover {
          @include transition;
        }
      }
    }

    .details-picture img {
      right: 1rem;
      bottom: 1rem;
    }
  }
}